*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$firstColor: #fff;
$secondColor: #B937FF;
$thirdColor: #D823CF;
$backColor: #000;

$titleFont: alumni sans;
$titleFontWeight: bolder;
$titleSize: 100px;
$titleMobileSize:50px;


$textFont: inter;
$textSize: 18px;
$textWidth: 45%;
$textFontWeight: lighter; 
$textLineHeight:1.5;
$textAlign: center;
$textMobileSize:16px;
$textMobileWidth: 80%;
$textMobileAlign: center;

$buttonFontSize: 30px;
$buttonWidth: 189px;
$buttonHeight: 49px;
$buttonMobileFontSize: 20px;
$buttonMobileWidth: 140px;
$buttonMobileHeight: 40px;
$buttonDecoration: none;

$secondButtonBorder: #D823CF solid 2px;

$projectImgSize: 50vw;
$projectMobileImgSize: 90vw;

$logoSize: 55%;

$imgToolSize: 35px;

$footherFontSize: 16px;

$marginLeft: 290px;
$marginMobile: 50px auto;




